[program:webbank-queue]
process_name=%(program_name)s_%(process_num)02d
command=php /path/to/webBank/artisan queue:work --queue=devices --tries=1 --timeout=420 --sleep=3
autostart=true
autorestart=true
stopasgroup=true
killasgroup=true
numprocs=4
redirect_stderr=true
stdout_logfile=/var/log/webbank-queue.log
stopwaitsecs=430
